* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto';
  background-color: #07080c;
}
.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
  margin: auto;
}
.main_heading {
  font-size: 26px;
  color: #ffffff;
  font-weight: 700;
  font-style: italic;
}
img {
  width: 100%;
}
.speed_para {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 20px;
}
.para {
  color: #cbd5e1;
  font-size: 12px;
  margin-bottom: 20px;
}
.button_group {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.speed_button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #0b69ff;
  padding: 8px 12px;
  color: #ffffff;
}
.brake_button {
  cursor: pointer;
  border: 2px solid #94a3b8;
  border-radius: 5px;
  padding: 8px 12px;
  color: #cbd5e1;
  background-color: transparent;
}
