* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto';
  background-image: linear-gradient(to right, #ffffff, #cffcf1, #defafe);
}
#root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_heading {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;
}
.time_and_controls {
  display: flex;
  align-items: center;
  gap: 10px;
}
.timer_container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/digital-timer-elapsed-bg.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 200px;
}
.timer_circle {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time {
  font-size: 24px;
  font-weight: 700;
  color: #00d9f5;
}
.run_pause {
  font-size: 13px;
  font-weight: 700;
  color: #0f172a;
}
.start_reset_container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 16px;
}
.start_container,
.reset_container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.start_pause_reset_button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  color: #0f172a;
  display: flex;
  gap: 10px;
  align-items: center;
}
.control_panel_img {
  width: 20px;
}
.start_pause_reset {
  font-size: 16px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 4px;
}
.set_timer {
  font-size: 10px;
  font-weight: 700;
  color: #1e293b;
  text-align: center;
  margin-bottom: 10px;
}
.time_adjust_container {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.increase_decrease_button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
}
.time_adjust_number {
  font-size: 18px;
  font-weight: 700;
  padding: 2px 18px 4px;
  border-radius: 6px;
  background-image: linear-gradient(to right, #90ffde, #39e8ff);
}


@media (max-width: 426px){
  .main_heading {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .time_and_controls {
    flex-direction: column;
  }
}