.footer_container {
  width: 100%;
  height: 424px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0f172a;
}
.footer_website_name {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #ffffff;
  font-style: italic;
}
.footer_para {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  padding: 24px 0 48px;
  text-align: center;
}
.footer_social_icons_list {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
}
.footer_social_icons_list_item {
  list-style: none;
}
.footer_social_icon_link {
  text-decoration: none;
}
.footer_social_icon {
  font-size: 30px;
  color: #ffffff;
}
/* Landscape Tablet styles */
@media (min-width: 769px) and (max-width: 1150px) {
  .footer_container {
    height: 256px;
  }
  .footer_website_name {
    font-size: 20px;
    line-height: 24px;
  }
  .footer_para {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    padding: 24px 0 34px;
    text-align: center;
  }
  .footer_social_icons_list {
    gap: 28px;
  }
  .footer_social_icon {
    font-size: 28px;
  }
}
/* Tablet styles */
@media (min-width: 641px) and (max-width: 768px) {
  .footer_container {
    height: 256px;
  }
  .footer_website_name {
    font-size: 20px;
    line-height: 24px;
  }
  .footer_para {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    padding: 24px 0 34px;
    text-align: center;
  }
  .footer_social_icons_list {
    gap: 28px;
  }
  .footer_social_icon {
    font-size: 28px;
  }
}
/* Landscape Mobile styles */
@media (min-width: 426px) and (max-width: 640px) {
  .footer_container {
    height: 256px;
  }
  .footer_website_name {
    font-size: 20px;
    line-height: 24px;
  }
  .footer_para {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    padding: 24px 0 34px;
    text-align: center;
  }
  .footer_social_icons_list {
    gap: 28px;
  }
  .footer_social_icon {
    font-size: 20px;
  }
}
/* Mobile styles */
@media (max-width: 425px) {
  .footer_container {
    height: 256px;
  }
  .footer_website_name {
    font-size: 20px;
    line-height: 24px;
  }
  .footer_para {
    font-family: DM Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    padding: 24px 0 34px;
    text-align: center;
  }
  .footer_social_icons_list {
    gap: 28px;
  }
  .footer_social_icon {
    font-size: 20px;
  }
}
