.cart-empty-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.cart-empty-img {
  width: 250px;
  height: 250px;
  margin-bottom: 30px;
}

.cart-empty-heading {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}

.shop-now-btn {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  border-radius: 8px;
  border: none;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  outline: none;
  cursor: pointer;
}
