body {
  padding: 0;
  margin: 0;
}
.main_container {
  width: 540px;
  padding: 30px;
  margin: auto;
}
.main_heading {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.search_box {
  display: flex;
  background-color: rgba(138, 200, 223, 0.299);
  border-radius: 5px;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px 5px 5px;
  margin: auto;
}
.search_box img {
  width: 24px;
  height: 24px;
}
input {
  width: auto;
  display: flex;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  padding-left: 8px;
  outline: none;
  font-size: 20px;
}
.destination_container {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}
