.main_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page_image {
  width: 150px;
}
.main_heading {
  font-size: 30px;
  font-weight: 600;
  color: #12022f;
}
