* {
  padding: 0;
  margin: 0;
}
.login_container {
  height: 450px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  gap: 10%;
}
.login_main_image_block {
  width: 60%;
}
.login_main_image {
  width: 100%;
}
.login_form {
  width: 34%;
  margin-left: auto;
  height: 100%;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 32px 0px #d7dfe9;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.website_logo {
  width: 60%;
  margin: 0 auto 20px;
}
.input_labels {
  font-size: 10px;
  font-weight: 700;
  color: #475569;
  margin-bottom: 5px;
}
#userNameInput,
#passwordInput {
  width: 100%;
  border-radius: 5px;
  height: 30px;
  background-color: #e2e8f0;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 14px;
  font-weight: 700;
  color: #1e293b;
  outline: none;
  border: none;
}
#userNameInput::placeholder,
#passwordInput::placeholder {
  font-size: 14px;
  font-weight: 700;
  color: #a3a7ac;
}
.submit_button {
  margin-top: 3px;
  width: 100%;
  background-color: #0b69ff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  border: none;
}
.error_msg {
  font-size: 12px;
  font-weight: 600;
  color: #ff0b37;
  margin: 3px 0 0;
}
