.loading_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.crypto_container {
  width: 700px;
  height: 80vh;
  padding: 50px;
}
.visible_decide_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.main_heading {
  font-size: 30px;
  color: #00e7ff;
  height: 155px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.cryptos {
  width: 500px;
  padding: 0;
  border: 3px solid #00e7ff;
  border-radius: 6px;
  margin: auto;
}
.crypto_list_headings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  background-color: #092e33;
  height: 30px;
}
.currency_headings {
  display: flex;
  align-items: center;
  text-align: end;
}
.crypto_heading,
.currency_heading {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}
.currency_heading:nth-child(2) {
  width: 80px;
  display: flex;
  justify-content: flex-end;
}
