.blog_container {
  width: 100%;
  padding: 40px;
}
.blog_info {
  width: 100%;
}
.blog_details_title {
  text-align: center;
}
.author_details {
  display: flex;
  align-items: center;
  gap: 14px;
}
.author_pic {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
.details_author_name {
  font-weight: 600;
}
.blog_image {
  border-radius: 10px;
  width: 100%;
  height: 450px;
}
.blog_content {
  line-height: 30px;
  color: #2f4f4f;
  font-weight: 500;
}

@media (max-width: 426px) {
  .blog_container {
    padding: 16px;
  }
  .blog_image{
    height: 180px;
  }
}
