* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto';
  height: 100vh;
}
#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_container {
  height: 700px;
  width: 800px;
  display: flex;
}
.events_container {
  background-color: #475569;
  width: 60%;
  padding: 20px 30px;
}
.main_heading {
  font-weight: 24px;
  color: #ffffff;
  margin-bottom: 15px;
  width: 300px;
}
.events_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.registration_container {
  width: 40%;
  padding: 40px 30px;
  text-align: center;
}
