.summary_block {
  width: fit-content;
  margin-left: auto;
  margin-top: 20px;
}
.cost_para {
  font-size: 14px;
  font-weight: 700;
  color: #616e7c;
  margin: 0;
}
.cost_number {
  font-size: 20px;
  font-weight: 700;
  color: #171f46;
  margin: 0;
}
.items_count {
  font-size: 11px;
  font-weight: 600;
  color: #616e7c;
  margin-top: 3px;
  margin-bottom: 6px;
}
.checkout_button {
  outline: none;
  cursor: pointer;
  border: none;
  background-color: #0b69ff;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border-radius: 6px;
  font-weight: 600;
}
