* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto';
  height: 100vh;
}
#root {
  width: 100%;
  height: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  background-size: cover;
}
.main_container {
  position: absolute;
  top: 40px;
  left: 60px;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
}
.main_heading,
.time {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}
.timer_container {
  width: 200px;
  height: 200px;
  padding: 20px 10px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.timer_img_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 5px;
}
.timer_img {
  width: 16px;
}
.timer_heading {
  font-size: 10px;
  font-weight: 700;
}
.control_panel {
  display: flex;
  justify-content: space-between;
}
.control_button {
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 0;
  text-align: center;
  width: 55px;
}
.green {
  background-color: #1db05f;
}
.red {
  background-color: #ef0d36;
}
.yellow {
  background-color: #eaa800;
}

/* -----------------------------------Mobile----------------------------------- */

@media (max-width: 426px) {
  #root {
    padding-top: 50px;
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  }
  .main_container {
    position: static;
    top: 0;
    left: 0;
    margin: auto auto;
  }
}
