* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #9ba9eb, #c3caea);
}
#root {
  width: fit-content;
  min-height: 100%;
  margin: auto;
}
.main_container {
  width: 580px;
  padding: 25px 0;
}
.app_logo {
  width: 100px;
  margin-bottom: 15px;
}
.password_creating_container {
  padding: 35px 25px;
  border-radius: 6px;
  background-color: #5763a5;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.password_create_panel {
  background-color: #454f84;
  padding: 18px 10px 10px;
  border-radius: 6px;
  width: 48%;
}
.main_heading {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #ffffff;
}
.input_div {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 3px;
  background-color: #f8fafc;
  margin-bottom: 10px;
}
.input_img {
  width: 32px;
  padding: 10px;
  border-right: 1px solid #454f84;
}
#websiteInput,
#userNameInput,
#passwordInput {
  outline: none;
  border: none;
  font-size: 12px;
  font-weight: 600;
  color: #454f84;
  padding: 5px;
  width: 100%;
  background-color: transparent;
}
#websiteInput::placeholder,
#userNameInput::placeholder,
#passwordInput::placeholder {
  font-size: 12px;
  color: #94a3b8;
}
.add_button {
  background-color: #0b69ff;
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 3px;
  margin-left: auto;
  display: flex;
}
.main_img {
  height: 210px;
  margin-right: 10px;
}

/* -------------------------Passwords------------------------- */

.password_control_panel {
  padding: 15px 25px 25px;
  border-radius: 6px;
  background-color: #5763a5;
  min-height: 280px;
}
.password_count_and_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #7683cb;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.your_password_count_block {
  display: flex;
  align-items: center;
}
.password_count {
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
}
.password_count_number {
  font-size: 8px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  padding: 2px 6px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin-left: 6px;
}
.search_container {
  background-color: #f8fafc;
  display: flex;
  align-items: center;
  height: 20px;
  width: 180px;
}
.search_img {
  width: 36px;
  border-right: 1px solid #454f84;
  padding: 0 10px;
}
#searchInput {
  outline: none;
  border: none;
  padding: 0 6px;
  font-size: 11px;
  font-weight: 600;
  color: #454f84;
  width: 100%;
}
#searchInput::placeholder{
  color: #94a3b8;
}
.checkbox_container {
  display: flex;
  justify-content: right;
  margin: 0 0 20px 4px;
}
.showPassword {
  align-items: center;
}
label {
  font-size: 10px;
  font-weight: 600;
  color: #f8fafc;
  margin-left: 4px;
}
.show_nothing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no_password_img {
  width: 180px;
  margin-bottom: 15px;
}
.no_password_text {
  font-size: 14px;
  font-weight: 700;
  color: #f8fafc;
}
.passwords_container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
