.video_block {
  height: 100%;
  padding: 30px 20px;
  background-color: #f1f1f19e;
}
.video_block.in_dark_theme {
  background-color: #000000;
}
.video {
  width: 100% !important;
  height: 450px !important;
}
.video_title {
  font-size: 18px;
  font-weight: 600;
  color: #0f0f0f;
  margin: 16px 0 0;
}
.video_title.in_dark_theme {
  color: #c5c9cd;
}

.views_date_like_save {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0 16px;
  border-bottom: 1px solid #475569;
}
.views_date {
  color: #475569;
  font-size: 14px;
}
.views_date.in_dark_theme {
  color: #94a3b8;
}
.like_save {
  display: flex;
  align-items: center;
  gap: 14px;
  color: #475569;
  padding: 0 20px 0 0;
}
.video_button {
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  gap: 3px;
  color: #64748b;
}
.like_save_icons {
  font-size: 20px;
  font-weight: 600;
  color: #64748b;
}
.video_channel_info_description {
  display: flex;
  margin-top: 25px;
  gap: 10px;
}
.video_channel_profile {
  width: 40px;
  height: 40px;
}
.video_channel_name {
  font-size: 15px;
  font-weight: 600;
  color: #475569;
}
.video_channel_name.in_dark_theme {
  color: #c5c9cd;
}
.video_channel_subs {
  font-size: 14px;
  color: #5d6a7e;
  margin: 5px 0 20px;
}
.video_channel_subs.in_dark_theme {
  color: #94a3b8;
}
.video_description {
  font-size: 15px;
  color: #455162;
}
.video_description.in_dark_theme {
  color: #c5c9cd;
}
.liked,
.disliked,
.saved {
  color: #3b82f6;
}
.liked .like_save_icons,
.disliked .like_save_icons,
.saved .like_save_icons {
  color: #3b82f6;
}

/* -----------------------------Tablet----------------------------- */

@media (max-width: 769px) {
  .video_block {
    padding: 0 0 30px;
  }
  .video {
    height: 300px !important;
  }
  .video_title {
    font-size: 14px;
    margin: 14px 0 0;
  }
  .views_date_like_save {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 6px 0 16px;
  }
  .views_date,
  .video_channel_subs {
    font-size: 12px;
  }
  .video_data {
    padding: 0 10px;
  }
  .like_save {
    width: 100%;
  }
  .save,
  .saved {
    margin-left: auto;
  }
  .video_channel_subs {
    margin: 5px 0 15px;
  }

  .video_description {
    font-size: 13px;
  }
}
/* -----------------------------Mobile----------------------------- */

@media (max-width: 426px) {
  .video_block {
    padding: 0 0 30px;
  }
  .video {
    height: 225px !important;
  }
  .video_title {
    font-size: 14px;
    margin: 14px 0 0;
  }
  .views_date_like_save {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    padding: 6px 0 16px;
  }
  .views_date,
  .video_channel_subs {
    font-size: 12px;
  }
  .video_data {
    padding: 0 10px;
  }
  .like_save {
    width: 100%;
  }
  .save,
  .saved {
    margin-left: auto;
  }
  .video_channel_subs {
    margin: 5px 0 15px;
  }

  .video_description {
    font-size: 13px;
  }
}
