.header_container,
.modal_header_container {
  height: 80px;
  width: 100%;
  padding: 0 50px;
  display: flex;
  align-items: center;
}
.header_container {
  border-bottom: 1px solid #dcdcdc;
}
.logo {
  width: 50px;
}
.header_icon {
  margin-left: auto;
  font-size: 24px;
  color: #616e7c;
}
.modal_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.close_button,
.menu_button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  align-items: center;
}
.close_button {
  margin-left: auto;
}
.menu_options_container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-bottom: 50px;
}
.menu_button {
  display: flex;
  gap: 3px;
  margin: 8px 0;
}
.menu_button_icon {
  font-size: 28px;
}
.menu_option_text {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}
.popup-content {
  width: 100%;
  height: 100%;
}
