.registration_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.yet_to_register_img,
.registrations_closed_img {
  width: 100%;
  margin-bottom: 30px;
}
.yet_to_register_info {
  font-size: 12px;
  color: #475569;
  margin-bottom: 30px;
}
.yet_to_register_button {
  outline: none;
  cursor: pointer;
  background-color: #0967d2;
  width: 90%;
  height: 30px;
  border-radius: 6px;
  border: none;
  color: #f8fafc;
  font-size: 14px;
  font-weight: 600;
}
.registered_img {
  width: 60px;
  margin-bottom: 30px;
}
.registered_info,
.registrations_closed_heading {
  font-size: 16px;
  font-weight: 700;
  color: #3a4b63;
}
.registrations_closed_info {
  font-size: 14px;
  color: #64748b;
  margin-top: 25px;
}

/* --------------------------Mobile---------------------------- */

@media (max-width: 426px) {
  body {
    height: fit-content;
  }
  .main_container {
    flex-direction: column;
    width: 100% !important;
    margin: 0 20px;
  }
  .events_container {
    width: 80% !important;
    margin: 20px auto;
    border-radius: 8px;
    padding: 20px 20px !important;
    background-color: #0d537b !important;
  }
  .main_heading {
    font-size: 22px;
    text-align: center;
    width: 100% !important;
  }
  .registration_container {
    width: 100% !important;
    padding-bottom: 60px !important;
  }
  .event_item {
    width: 100%;
    text-align: center;
    border-radius: 8px;
  }
  .event_img_button{
    height: 150px;
  }
}
