.header_container {
  width: 100%;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}
.header_container.in_dark_theme {
  background-color: #1d1d1d;
}
.header_link {
  text-decoration: none;
}
.header_logo {
  height: 22px;
}
.theme_profile_logout {
  display: flex;
  align-items: center;
  gap: 16px;
}
.theme_button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.theme_icon {
  font-size: 24px;
}
.theme_icon.in_dark_theme {
  color: #cbd5e1;
}
.profile_img {
  height: 28px;
  width: 28px;
  border-radius: 30px;
  cursor: pointer;
}
.logout_button {
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #3b82f6;
  border-radius: 3px;
  padding: 2px 8px;
  color: #3b82f6;
  font-size: 13px;
  font-weight: 600;
}
.logout_button.in_dark_theme {
  color: #cbd5e1;
  border-color: #cbd5e1;
}
.mobile_logout_icon {
  display: none;
}
.popup_container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(6px);
}
.popup_block {
  background-color: #f8fafc;
  height: fit-content;
  width: fit-content;
  border-radius: 6px;
  padding: 20px 40px;
}
.popup_block.in_dark_theme {
  background-color: #212121;
}
.logout_confirm_para {
  font-size: 13px;
  font-weight: 600;
  color: #1e293b;
  margin-bottom: 20px;
}
.logout_confirm_para.in_dark_theme {
  color: #f8fafc;
}
.logout_confirm_buttons_block {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
}
.logout_confirm_buttons_block button {
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.cancel_button {
  background-color: transparent;
  border: 2px solid #545454;
  color: #545454;
}
.cancel_button.in_dark_theme {
  border: 2px solid #c9c9c9;
  color: #f8fafc;
}
.confirm_button {
  background-color: #3b82f6;
  color: #ffffff;
  border: 2px solid #3b82f6;
}
.profile_button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.profile_full_page_button {
  outline: none;
  cursor: pointer;
  border: none;
}
.profile_img_zoom {
  width: 200px;
  height: 200px;
  border-radius: 300px;
}
.user_name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 12px;
}
.user_name.in_dark_theme {
  color: #f1f1f1;
}
.role {
  font-size: 14px;
  font-weight: 700;
  color: rgb(0, 98, 218);
  font-style: italic;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}
.role.in_dark_theme {
  color: rgb(15, 119, 247);
}
.profile_full_page_button .popup_block.in_dark_theme {
  border: 3px solid #35393f;
}
.profile_full_page_button .social_icons {
  width: 100%;
  justify-content: space-evenly;
}
.profile_full_page_button .social_icon {
  width: 40px;
  height: 40px;
}

/* -----------------------------Mobile----------------------------- */

@media (max-width: 426px) {
  .header_container {
    padding: 0 15px 0 20px;
    background-color: #f1f1f1;
  }
  .logout_button {
    border: none;
    padding: 2px 0;
    color: #121212;
  }
  .logout_button.in_dark_theme {
    color: #cbd5e1;
    border-color: #cbd5e1;
  }

  .logout {
    display: none;
  }
  .mobile_logout_icon {
    display: block;
    font-size: 25px;
  }
}
