* {
  padding: 0;
  margin: 0;
}
#root {
  width: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
}
.loader_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.ipl_logo_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #ffffff;
  margin-bottom: 20px;
}
.ipl_logo {
  height: 80px;
}
.main_heading {
  font-size: 34px;
  font-weight: 700;
}
.team_card_list {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
