.restaurant_container {
  width: 33.3%;
  list-style: none;
}
.restaurant_link {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
}
.restaurant_img_box {
  width: 160px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}
.restaurant_img {
  width: 100%;
  height: 100%;
}
.restaurant_info {
  display: flex;
  flex-direction: column;
  height: 100px;
}
.restaurant_heading {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #334155;
  align-self: flex-start;
  margin-bottom: 0;
}
.restaurant_cuisine {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #64748b;
  margin-top: auto;
  margin-bottom: 8px;
}
.ratings_block {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 0 11px;
  margin-top: auto;
}
.restaurant_rating {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #0f172a;
}
.restaurant_total_reviews {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #64748b;
}
/* Landscape Tablet styles */
@media (min-width: 769px) and (max-width: 1150px) {
  .restaurant_container {
    width: 33%;
  }
  .restaurant_img_box {
    width: 140px;
    height: 90px;
    border-radius: 8px;
    overflow: hidden;
    flex-shrink: 0;
  }

  .restaurant_heading {
    font-size: 13px;
    line-height: 16px;
  }
  .restaurant_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: auto;
  }
  .restaurant_cuisine {
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0 9px;
  }
  .ratings_block {
    margin: 0;
    padding: 0;
  }
}
/* Tablet styles */
@media (min-width: 641px) and (max-width: 768px) {
  .restaurant_container {
    width: 48%;
  }

  .restaurant_heading {
    font-size: 15px;
    line-height: 18px;
  }
  .restaurant_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: auto;
  }
  .restaurant_cuisine {
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0 9px;
  }
  .ratings_block {
    margin: 0;
    padding: 0;
  }
}
/* Landscape Mobile styles */
@media (min-width: 426px) and (max-width: 640px) {
  .restaurant_container {
    width: 100%;
  }

  .restaurant_heading {
    font-size: 18px;
    line-height: 22px;
  }
  .restaurant_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: auto;
    flex-shrink: 0;
  }
  .restaurant_cuisine {
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0 9px;
  }
  .ratings_block {
    margin: 0;
    padding: 0;
  }
}
/* Mobile styles */
@media (max-width: 425px) {
  .restaurant_container {
    width: 100%;
  }

  .restaurant_heading {
    font-size: 18px;
    line-height: 22px;
  }
  .restaurant_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: auto;
  }
  .restaurant_cuisine {
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0 9px;
  }
  .ratings_block {
    margin: 0;
    padding: 0;
  }
}
