.cart_container_with_items {
  width: 100%;
  max-width: 1110px;
  margin: 48px auto 64px;
  background-color: #f9fbfe;
  border: 1px solid #0b69ff1a;
  padding: 32px 48px 48px;
}
.cart_table_headings {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.cart_table_heading {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #475569;
  text-align: center;
  width: 20%;
}
.cart_table_headings p:nth-child(1) {
  width: 40%;
}
.cart_table_headings p:nth-child(3) {
  margin-left: auto;
}
.cart_table_heading:nth-child(1) {
  text-align: start;
  padding-left: 72px;
}
.cart_table_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 32px;
  border-bottom: 1.5px dashed #cbd2d9;
}
.order_total_block {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.order_total_heading {
  font-family: Roboto;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  color: #3e4c59;
}
.amount_order_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 20%;
  justify-content: center;
}
.cart_total_cost {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: right;
  display: flex;
  align-items: center;
}

/* ----------------------------------------------------- */

.no_items_cart,
.show_payment_cart,
.loading_cart {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.no_items_container,
.payment_container,
.cart_loading_container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no_items_img {
  width: 425px;
  height: 367px;
  opacity: 1;
  margin-bottom: 48px;
}
.no_items_heading {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  color: #1e293b;
  margin-bottom: 12px;
}
.no_items_info {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #64748b;
  margin-bottom: 16px;
}

/* ----------------------------------------------------- */
.payment_successful_tick {
  width: 64px;
  height: 64px;
  color: #22c55e;
  opacity: 1;
  margin-bottom: 40px;
}
.payment_heading {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: #1e293b;
  margin-bottom: 24px;
}
.payment_info {
  font-family: DM Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #64748b;
  margin-bottom: 32px;
}

/* Landscape Tablet styles */
@media (min-width: 769px) and (max-width: 1150px) {
  .cart_container_with_items {
    width: 100%;
    max-width: 900px;
    margin: 48px auto 64px;
    background-color: #f9fbfe;
    border: 1px solid #0b69ff1a;
    padding: 32px 48px 48px;
  }
  .cart_table_heading {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #475569;
    text-align: center;
    width: 20%;
  }
  .order_total_heading {
    font-size: 20px;
  }
  .cart_total_cost {
    font-family: DM Sans;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: right;
    display: flex;
    align-items: center;
  }
  .amount_order_group {
    gap: 20px;
  }
  .no_items_img {
    width: 300px;
    height: 260px;
    opacity: 1;
    margin-bottom: 48px;
  }
  .no_items_heading {
    font-size: 28px;
    margin-bottom: 10px;
  }
}

/* Tablet styles */
@media (min-width: 641px) and (max-width: 768px) {
  .cart_container_with_items {
    min-height: 60vh;
    margin: 0;
    background-color: #f9fbfe;
    border: none;
    padding: 32px 48px 48px;
  }
  .cart_table_headings {
    display: flex;
  }
  .cart_table_list {
    padding-bottom: 24px;
    border-bottom: 1.5px solid;
    border-image: repeating-linear-gradient(
        to right,
        #cbd2d9 0,
        #cbd2d9 10px,
        /* dash length */ transparent 10px,
        transparent 14px /* gap length */
      )
      1;
  }
  .order_total_block {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
  .order_total_heading {
    font-size: 16px;
    line-height: 24px;
  }
  .amount_order_group {
    align-items: flex-end;
    gap: 24px;
    width: auto;
    justify-content: center;
  }
  .cart_total_cost {
    font-size: 16px;
    line-height: 24px;
  }

  /* ----------------------------------------------------- */

  .no_items_img {
    width: 203px;
    height: 175px;
    margin-bottom: 32px;
  }
  .no_items_heading {
    font-size: 20px;
    line-height: 32px;
  }
  .no_items_info {
    font-size: 14px;
    margin-bottom: 24px;
  }

  /* ----------------------------------------------------- */
  .payment_successful_tick {
    width: 50px;
    height: 50px;
    margin-bottom: 28px;
  }
  .payment_heading {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .payment_info {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 32px;
  }
}
/* Landscape Mobile styles */
@media (min-width: 426px) and (max-width: 640px) {
  .cart_container_with_items {
    min-height: 60vh;
    margin: 0;
    background-color: transparent;
    border: none;
    padding: 32px 24px 48px;
  }
  .cart_table_headings {
    display: none;
  }
  .cart_table_list {
    padding-bottom: 24px;
    border-bottom: 1.5px solid;
    border-image: repeating-linear-gradient(
        to right,
        #cbd2d9 0,
        #cbd2d9 10px,
        /* dash length */ transparent 10px,
        transparent 14px /* gap length */
      )
      1;
  }
  .order_total_block {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
  .order_total_heading {
    font-size: 16px;
    line-height: 24px;
  }
  .amount_order_group {
    align-items: flex-end;
    gap: 24px;
    width: auto;
    justify-content: center;
  }
  .cart_total_cost {
    font-size: 16px;
    line-height: 24px;
  }

  /* ----------------------------------------------------- */

  .no_items_img {
    width: 203px;
    height: 175px;
    margin-bottom: 32px;
  }
  .no_items_heading {
    font-size: 20px;
    line-height: 32px;
  }
  .no_items_info {
    font-size: 14px;
    margin-bottom: 24px;
  }

  /* ----------------------------------------------------- */
  .payment_successful_tick {
    width: 50px;
    height: 50px;
    margin-bottom: 28px;
  }
  .payment_heading {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .payment_info {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 32px;
  }
}
/* Mobile styles */
@media (max-width: 426px) {
  .cart_container_with_items {
    min-height: 60vh;
    margin: 0;
    background-color: transparent;
    border: none;
    padding: 32px 24px 48px;
  }
  .cart_table_headings {
    display: none;
  }
  .cart_table_list {
    padding-bottom: 24px;
    border-bottom: 1.5px solid;
    border-image: repeating-linear-gradient(
        to right,
        #cbd2d9 0,
        #cbd2d9 10px,
        /* dash length */ transparent 10px,
        transparent 14px /* gap length */
      )
      1;
  }
  .order_total_block {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }
  .order_total_heading {
    font-size: 16px;
    line-height: 24px;
  }
  .amount_order_group {
    align-items: flex-end;
    gap: 24px;
    width: auto;
    justify-content: center;
  }
  .cart_total_cost {
    font-size: 16px;
    line-height: 24px;
  }

  /* ----------------------------------------------------- */

  .no_items_img {
    width: 203px;
    height: 175px;
    margin-bottom: 32px;
  }
  .no_items_heading {
    font-size: 20px;
    line-height: 32px;
  }
  .no_items_info {
    font-size: 14px;
    margin-bottom: 24px;
  }

  /* ----------------------------------------------------- */
  .payment_successful_tick {
    width: 50px;
    height: 50px;
    margin-bottom: 28px;
  }
  .payment_heading {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  .payment_info {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 32px;
  }
}
