* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #1f1f2f;
}
.main_container {
  width: 650px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
}
.heading {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #f1f5f9;
}
.countries_list {
  overflow-y: scroll;
  height: 250px;
  border-radius: 5px;
  background-color: #33415573;
  border: 1px solid #94a3b8;
  padding: 0;
  margin-bottom: 30px;
}
.all_country_item {
  list-style: none;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #94a3b8;
}
.country_name {
  font-size: 14px;
  color: #f1f5f9;
}
.visited_para {
  font-size: 14px;
  font-weight: 600;
  color: #94a3b8;
  width: 55px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visit_button {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  width: 55px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  background-color: #3b82f6;
  cursor: pointer;
}
.visited_countries_list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0;
}
.visited_country_item {
  width: 200px;
  list-style: none;
}
.visited_flag {
  width: 100%;
  height: 120px;
}
.country_remove {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 8px;
  justify-content: space-between;
  background-color: #33415573;
}
.remove-button {
  outline: none;
  border: 1px solid #f1f5f9;
  font-size: 10px;
  font-weight: 600;
  padding: 5px;
  border-radius: 3px;
  color: #f1f5f9;
  background-color: transparent;
}
.no_container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.no_heading {
  font-size: 16px;
  font-weight: 600;
  color: #94a3b8;
  text-align: center;
}

@media (max-width: 426px) {
  .heading:nth-child(3) {
    text-align: center;
  }
  .visited_countries_list {
    justify-content: center;
  }
}
