* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto';
  min-height: 100vh;
  width: 100%;
}
#root {
  width: 100%;
  height: 100%;
}
.main_container {
  width: 490px;
  height: 100%;
  margin: auto;
  padding: 40px 0;
}
.main_heading {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Lobster';
  text-align: center;
}
.repo_category_tabs_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 40px 0;
}
.repos_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.loading_container {
  display: flex;
  justify-content: center;
}
.repos_not_available_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.no_repos_img {
  width: 80%;
  margin: auto;
}
.no_repos_heading {
  font-size: 32px;
  font-weight: 700;
  font-family: 'Lobster';
  text-align: center;
}
