.slick-track {
}
.movie_button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  padding: 0 10px;
}
.movie_thumbnail {
  width: 100%;
}
.slick-prev {
  font-size: 30px;
}
.modal_container {
  display: flex;
  flex-direction: column;
}
.popup-content {
  width: fit-content;
  height: fit-content;
  background-color: #ffffff;
  padding: 10px 30px 40px;
  border-radius: 16px;
}
.close_button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 24px;
  align-self: flex-end;
}
.video {
  padding: 0 20px;
}
.sm_slider {
  display: none !important;
}

/* -------------------Mobile-------------------- */

@media (max-width: 426px) {
  .content_container {
    padding: 0 40px 30px !important;
  }
  .main_heading {
    text-align: center;
    margin-top: 40px !important;
  }
  .sm_slider {
    display: block !important;
  }
  .lg_slider {
    display: none !important;
  }
  .content_container {
    flex-grow: 1;
  }
  .popup-content {
    background-color: #3b8bd1;
    padding: 5px 10px 30px;
    border: 3px solid #c0e1ff;
  }

  .video {
    width: 300px !important;
    height: 160px !important;
  }
}
