.login_container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_block {
  width: 260px;
  height: 280px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 32px 0 rgba(113, 113, 113, 0.187);
  display: flex;
  flex-direction: column;
}
.login_img {
  width: 100px;
  margin: 0 auto auto;
}
.login_label {
  font-size: 10px;
  font-weight: 600;
  color: #64748b;
  margin-top: 12px;
}
.login_input {
  width: 100%;
  margin-top: 4px;
  height: 25px;
  outline: none;
  border: 1px solid #94a3b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 6px;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
  color: #1e293b;
}
.login_input::placeholder {
  font-size: 12px;
  color: #94a3b8;
}
.show_label {
  font-size: 12px;
  font-weight: 600;
  color: #363636;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  margin-top: 8px;
}
.login_button {
  outline: none;
  border: none;
  background-color: #3b82f6;
  display: flex;
  color: #f9f9f9;
  font-size: 12px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  height: 26px;
  border-radius: 6px;
  margin-top: 20px;
  cursor: pointer;
}
.error_msg {
  font-size: 10px;
  color: #ff0b37;
  margin-top: 4px;
}

/* ---------------------Details------------------------ */

.login_details_container {
  position: fixed;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}
.login_details{
  font-size: 14px;
  font-weight: 600;
  color: #4f46e5;
}