* {
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  background-color: #f1f5f8;
}
#root {
  width: fit-content;
  height: fit-content;
}
.main_container {
  border-radius: 10px;
  padding: 50px 40px;
  box-shadow: 0px 0px 16px 0px #e5e5e5;
  background-color: #ffffff;
}
.main_heading {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;
  color: #cb8805;
}
.faq_container {
  width: 100%;
}
