.crypto_item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  background-color: transparent;
  height: 30px;
}
.logo_name {
  display: flex;
  align-items: center;
  gap: 8px;
}
.usd_euro {
  display: flex;
  align-items: center;
}
.crypto_logo {
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
.crypto_name,
.usd,
.euro {
  font-size: 12px;
  color: #ffffff;
}
.euro {
  width: 80px;
  display: flex;
  justify-content: flex-end;
}

/* ----------------------------Mobile--------------------------- */

@media (max-width: 426px) {
  #root {
    padding: 0;
  }
  .main_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .crypto_container {
    width: 100% !important;
    height: 50vh !important;
    padding: 0 20px !important;
  }
  .main_heading {
    font-size: 24px !important;
    height: fit-content !important;
    display: block;
  }
  .cryptos {
    width: 100% !important;
    margin: 0 !important;
  }
}
