.header_container {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}
.header_logo {
  width: 120px;
}
.nav_bar {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav_item {
  font-size: 14px;
  font-weight: 700;
  color: #979a9f;
  cursor: pointer;
}
.nav_button {
  font-size: 13px;
  font-weight: 600;
  color: #ffffff;
  background-color: #0967d2;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
}

/* -------------------------Mobile-------------------------- */

@media (max-width: 426px) {
  body {
    min-height: 100vh !important;
  }
  #root {
    height: 100% !important;
  }
  .login_container {
    height: 100vh !important;
    width: 100% !important;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;
    padding: 0px 20px !important;
    gap: 60px !important;
  }
  .login_main_image_block {
    width: 100% !important;
    display: flex;
    justify-content: center;
    order: 1;
  }
  .login_main_image {
    width: 80% !important;
  }
  .login_form {
    width: 250px !important;
    margin: 0 auto;
    height: 300px !important;
    padding: 50px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 32px 0px #d7dfe9;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .home_container {
    padding: 0 20px 50px !important;
  }
  .home_content {
    flex-direction: column;
    padding: 0 !important;
    gap: 50px !important;
    margin-top: 40px !important;
  }
  .home_text_content {
    width: 100% !important;
  }
  .header_container {
    padding: 0 !important;
  }
  .nav_bar {
    gap: 14px;
  }
  .header_logo {
    width: 90px;
  }
  .nav_button {
    font-size: 12px;
  }
  .home_heading {
    font-size: 32px !important;
    margin-bottom: 20px;
    text-align: center;
  }
  .home_para {
    margin-bottom: 20px;
  }
  .home_img_block {
    width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .home_img {
    width: 70% !important;
  }
}
