* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto';
  display: flex;
  background-image: url('https://res.cloudinary.com/dtq6aox9h/image/upload/v1762347699/7db758d5-3818-43a1-aadd-8ca5f1eaf815_vznb20.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
}
#root {
  backdrop-filter: blur(6px);
  width: 100%;
  height: 100vh;
  background-color: transparent;
}
.main_container {
  width: 50%;
  margin: 100px auto 0 auto;
}
.user_card {
  width: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  padding: 30px 20px 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.main_heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.greetings {
  font-size: 14px;
  color: #475569;
}
.app_name {
  font-weight: 700;
  color: #0b69ff;
}
.add_transaction_and_history {
  display: flex;
  gap: 28px;
  width: 100%;
}
.add_transaction {
  width: 40%;
  border: 1px solid #7e858e;
  border-radius: 10px;
  padding: 30px;
  background-color: #dce4f3;
}
.add_transaction_heading {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 14px;
  color: #1e293b;
}
label {
  font-size: 11px;
  color: #7e858e;
  font-weight: 700;
}
#titleInput,
#amountInput,
#menu {
  display: block;
  outline: none;
  padding: 8px 10px;
  border: 1px solid #cbd5e1;
  color: #1e293b;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 10px;
  border-radius: 8px;
  margin-top: 6px;
  width: 100%;
}
#titleInput::placeholder,
#amountInput::placeholder,
#menu::placeholder,
option::placeholder {
  color: #7e858e;
  font-size: 11px;
  font-weight: 500;
}
.add_transaction_button {
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #0b69ff;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  padding: 8px 16px;
  margin-top: 10px;
}
.history {
  border: 1px solid #7e858e;
  border-radius: 10px;
  padding: 30px 30px 30px 20px;
  flex-grow: 1;
  background-color: #dce4f3;
}
.history_heading {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #1e293b;
}
.history_table {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.transaction_item {
  list-style: none;
  display: flex;
  padding: 6px 12px;
  font-size: 12px;
  align-items: center;
  width: 100%;
  border: 1px solid #7e858e;
  border-top: none;
}
.transaction_item:nth-child(1) {
  border: 1px solid #7e858e;
}
.table_heading {
  font-size: 14px;
  font-weight: 700;
  color: #7e858e;
}
