* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto';
}
#root {
  width: 100%;
  height: 100%;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
}
.main_container {
  width: 100%;
  height: 100%;
}
.nav_bar {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  align-items: center;
  background-color: #2c0e3a;
}
.nav_logo {
  list-style: none;
}
.game_logo {
  height: 30px;
}
.score_time_container {
  list-style: none;
  display: flex;
  align-items: center;
}
.score {
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
}
.score_number,
.timer_number {
  font-size: 16px;
  font-weight: 700;
  color: #fec653;
  margin-left: 3px;
}
.timer_img {
  width: 16px;
  margin-left: 20px;
  margin-right: 3px;
}

/* ---------------------------------Game----------------------------------- */

.game_container,
.result_container {
  width: 460px;
  margin: 50px auto;
  border-radius: 8px;
}
.display_image {
  width: 100%;
}
.tabs_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 20px auto;
}
.thumbnail_list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
}

/* ---------------------------------Result----------------------------------- */

.result_container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trophy_img {
  width: 60%;
  margin: 150px 0 10px;
}
.score_card_heading {
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 10px;
}
.result_score {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
}
.play_again_button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #cf60c8;
  border-radius: 6px;
  padding: 6px 8px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 60px;
}
.reset_image {
  width: 16px;
}
