.trending_video_item {
  list-style: none;
}
.trending_video_link {
  text-decoration: none;
  display: flex;
  gap: 14px;
}
.trending_video_thumbnail {
  width: 260px;
  border-radius: 6px;
}
.trending_channel_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 4px;
}
.trending_video_title {
  font-size: 14px;
  font-weight: 600;
  color: #181818;
}
.trending_video_title.in_dark_theme {
  color: #cbd5e1;
}
.trending_channel_name {
  font-size: 12px;
  color: #434c55;
}
.trending_channel_name.in_dark_theme {
  color: #94a3b8;
}
.trending_video_views_date {
  font-size: 12px;
  color: #434c55;
  display: flex;
  align-items: center;
}
.trending_video_views_date.in_dark_theme {
  color: #94a3b8;
}

/* -----------------------------Mobile----------------------------- */

@media (max-width: 426px) {
  .trending_video_link {
    flex-direction: column;
    gap: 5px;
  }
  .trending_video_thumbnail {
    width: 100%;
    border-radius: 6px;
  }
  .trending_channel_info {
    padding-left: 4px;
  }
}
