* {
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}
#root {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_container {
  width: 600px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
