.emoji_container {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #ffffff30;
  margin: 5px;
  background-color: #ffffff33;
}
.emoji_button {
  outline: none;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.emoji_image {
  width: 80px;
}
