.tab_item {
  list-style: none;
  border-bottom: 3px solid transparent;
  padding: 0 4px;
}
.tab_item_button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
.tab_name {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding-bottom: 6px;
}
.active {
  border-color: #fec653;
}
