.banner_container {
  width: 100%;
  height: fit-content;
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-watch-banner-bg.png');
  background-size: cover;
  background-position: center;
  padding: 20px 30px 20px 20px;
  display: flex;
  justify-content: space-between;
}
.banner_left {
  height: 160px;
}
.banner_logo {
  height: 28px;
}
.banner_para {
  font-size: 15px;
  line-height: 22px;
  margin: 8px 0 20px 0;
}
.banner_get_now_button {
  cursor: pointer;
  background-color: transparent;
  border: 1.5px solid #383838;
  padding: 4px 8px;
  outline: none;
  font-size: 11px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #383838;
}
.banner_cancel_button {
  outline: none;
  border: none;
  background-color: #f3f3f3;
  cursor: pointer;
  font-size: 20px;
  align-self: flex-start;
  margin-right: 20px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

/* -----------------------------Mobile----------------------------- */

@media (max-width: 426px) {
  .banner_container{
  padding: 20px;
  }
  .banner_left {
    height: fit-content;
  }
  .banner_logo {
    height: 16px;
  }
  .banner_para {
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    margin: 3px 0 10px 0;
  }
  .banner_get_now_button {
    padding: 3px 7px;
    font-size: 10px;
  }
  .banner_cancel_button{
    margin-right: 0;
  }
}
