.fooditem_container {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  width: 48%;
}
.food_item_image {
  width: 255px;
  height: 150px;
  border-radius: 8px;
  opacity: 1;
  flex-shrink: 0;
}
.food_item_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.food_item_heading {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #334155;
  margin-bottom: 8px;
}
.food_item_cost {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #334155;
  margin-bottom: 9px;
}
.food_item_rating_block {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 9px;
}
.food_rating {
  color: #334155;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  padding-bottom: 1px;
}
.button_hide_on_desktop {
  display: none !important;
}
.button_hide_on_mobile {
  display: flex !important;
}

/* Landscape Tablet styles */
@media (min-width: 769px) and (max-width: 1150px) {
  .button_hide_on_desktop {
    display: none !important;
  }
  .button_hide_on_mobile {
    display: flex !important;
  }
  .fooditem_container {
    width: 49%;
    align-items: center;
    gap: 24px;
  }
  .food_item_image {
    width: 240px;
    height: 150px;
    border-radius: 5px;
    opacity: 1;
  }
  .food_item_details{
    gap: 3px;
  }
  .food_item_heading {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .food_item_cost {
    font-size: 15px;
    line-height: 16px;
    margin-bottom: 4px;
  }
  .food_item_rating_block {
    margin-bottom: 6px;
  }
  .food_item_rating_block svg {
    font-size: 14px;
  }
  .food_rating {
    line-height: 100%;
    font-size: 14px;
  }
}
/* Tablet styles */
@media (min-width: 641px) and (max-width: 768px) {
  .button_hide_on_desktop {
    display: flex !important;
  }
  .button_hide_on_mobile {
    display: none !important;
  }
  .fooditem_container {
    width: 49%;
    align-items: flex-start;
    gap: 24px;
  }
  .food_item_image {
    width: 160px;
    height: 100px;
    border-radius: 5px;
    opacity: 1;
  }
  .food_item_heading {
    font-size: 16px;
    margin-bottom: 4px;
  }
  .food_item_cost {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
  }
  .food_item_rating_block {
    margin-bottom: 6px;
  }
  .food_rating {
    line-height: 100%;
  }
}
/* Landscape Mobile styles */
@media (min-width: 426px) and (max-width: 640px) {
  .button_hide_on_desktop {
    display: flex !important;
  }
  .button_hide_on_mobile {
    display: none !important;
  }
  .fooditem_container {
    width: 100%;
    align-items: flex-start;
    gap: 24px;
  }
  .food_item_image {
    width: 160px;
    height: 100px;
    border-radius: 5px;
    opacity: 1;
  }
  .food_item_heading {
    font-size: 16px;
    margin-bottom: 4px;
  }
  .food_item_cost {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
  }
  .food_item_rating_block {
    margin-bottom: 6px;
  }
  .food_rating {
    line-height: 100%;
  }
}
/* Mobile styles */
@media (max-width: 426px) {
  .button_hide_on_desktop {
    display: flex !important;
  }
  .button_hide_on_mobile {
    display: none !important;
  }
  .fooditem_container {
    width: 100%;
    align-items: flex-start;
    gap: 24px;
  }
  .food_item_image {
    width: 160px;
    height: 100px;
    border-radius: 5px;
    opacity: 1;
  }
  .food_item_heading {
    font-size: 16px;
    margin-bottom: 4px;
  }
  .food_item_cost {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
  }
  .food_item_rating_block {
    margin-bottom: 6px;
  }
  .food_rating {
    line-height: 100%;
  }
}
