.main_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page_image {
  width: 150px;
}
.main_heading {
  font-size: 30px;
  font-weight: 600;
  color: #12022f;
}

/* -------------------------------Mobile--------------------------------- */

@media (max-width: 426px){
  body{
    padding: 40px 0;
  }
  #root{
    width: 100%;
    margin: 0 20px;
  }
  .about_para{
    text-align: center;
  }
}