* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family:
    'Roboto',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main_container {
  width: 100%;
  height: 100vh;
  background-color: #223a5f;
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.score_container {
  background-color: transparent;
  border: 1px solid white;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
  width: 100%;
  border-radius: 6px;
  font-family: Bree Serif;
}
.game_items {
  padding: 0;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}
.score_block {
  background-color: #ffffff;
  border-radius: 6px;
  width: 80px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.score_heading {
  font-size: 15px;
  font-weight: 500;
  color: #223a5f;
}
.score {
  font-size: 28px;
  color: #223a5f;
  font-weight: 700;
  font-family: 'Roboto';
}
.game_container {
  flex-grow: 1;
  width: 420px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.game_option {
  width: 50%;
  list-style: none;
  align-self: flex-end;
  height: fit-content;
}
.game_option:nth-child(3) {
  align-self: flex-start;
  margin-top: 40px;
}
.item_button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: fit-content;
  display: flex;
  margin: auto;
}
.img {
  width: 120px;
}
.result_container {
  flex-grow: 1;
  width: 420px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.show_choices {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}
.choice_block {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.para {
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}
.result {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
.play_again_button {
  width: 140px;
  margin: 0 auto;
  padding: 8px 24px;
  border-radius: 6px;
  background-color: #ffffff;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 10px;
  color: #223a5f;
  font-weight: 700;
}
.rules_button {
  outline: none;
  width: fit-content;
  display: flex;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 4px 12px;
  font-size: 13px;
  font-weight: 600;
  color: #223a5f;
}
.popup_container {
  background-color: rgba(7, 7, 7, 0.281);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup_block {
  width: 60%;
  height: fit-content;
  margin: auto;
  background-color: #ffffff;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.popup_close_button {
  width: 25px;
  height: 25px;
  margin-left: auto;
  background-color: rgba(209, 204, 204, 0.237);
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
}
.close_icon {
  margin: 0;
  font-size: 24px;
  color: rgb(211, 17, 17);
}
.rules_img {
  width: 100%;
  padding: 0 60px 40px;
}

/* ---------------------------Mobile---------------------------- */

@media (max-width: 426px) {
  .score_container {
    width: 80%;
  }
  .game_container,
  .result_container {
    width: 100%;
  }
  .popup_block {
    width: 90%;
  }
  .rules_img {
    padding: 0 20px 40px;
  }
}
