.product_details_block {
  display: flex;
  gap: 50px;
  width: 70%;
  margin: auto;
  padding: 30px 0 0;
}
.product_details_img_container,
.product_details_text_container {
  width: 50%;
}
.product_details_img {
  width: 100%;
  border-radius: 10px;
}
.main_heading {
  margin: 0;
  font-weight: 600;
}
.cost {
  font-weight: 700;
}
.rating-container {
  width: fit-content;
  align-items: center;
}
.star {
  margin-bottom: 1px;
}
.rating_reviews_block {
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviews_text {
  margin: 0;
}
.availability_block,
.brand_block {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.info_headings {
  font-size: 14px;
  margin: 0;
}
.availability,
.brand {
  font-size: 14px;
  margin: 0;
}
.set_item_count {
  display: flex;
  align-items: center;
  gap: 10px;
}
.add_to_cart_button {
  outline: none;
  border: none;
  background-color: #3b82f6;
  padding: 8px 12px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 6px;
}
.similar_product_details_block {
  width: 70%;
  margin: auto;
  padding: 30px 0 0;
}
.similar_product_details {
  font-size: 18px;
  font-weight: 700;
}
.similar_products_list {
  display: flex;
  align-items: center;
  gap: 35px;
  padding: 0 0 40px;
}
