.item_link {
  text-decoration: none;
}
.blog_item {
  list-style: none;
  width: 100%;
  display: flex;
  gap: 18px;
  border: 1px solid #8e8e8e;
  padding: 16px;
  border-radius: 6px;
  margin-bottom: 30px;
}
.blog_img {
  width: 350px;
  height: 200px;
  border-radius: 6px;
}
.topic,
.author_name {
  font-size: 14px;
  color: #8e8e8e;
}
.title {
  margin-top: 10px;
}
.author_block {
  display: flex;
  align-items: center;
  gap: 8px;
}
.author_img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

@media (max-width: 426px) {
  .blog_item {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  .blog_img {
    width: 100%;
    height: 180px;
  }
}
