.event_item {
  width: 200px;
  list-style: none;
}
.event_img_button {
  outline: none;
  cursor: pointer;
  background-color: transparent;
  margin-bottom: 5px;
  width: 100%;
  height: 125px;
  border-radius: 6px;
  border: 2px solid transparent;
}
.active {
  border: 2px solid #2dd4bf;
}
.event_img {
  width: 100%;
  height: 100%;
}
.event_name {
  font-size: 16px;
  font-weight: 700;
  color: #f8fafc;
}
.event_location {
  font-size: 12px;
  font-weight: 600;
  color: #f8fafc;
}
